.img-container {
    width: 100%;
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.decore-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);

}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.abouts-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgb(112, 112, 112);
}

@media (max-width: 768px) {
    .img-container {
        height: 250px;
    }

    .overlay-title {
        font-size: 2rem;
    }
}