.imge-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px; 
}

.wed8-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

