/* .crafting {
  color: #555555 !important; 
}

.banner {
    overflow: unset !important;
    margin-top: 0 !important;
}

.banner-text-col {
    position: relative;
    z-index: 10000;
}

.experiance{
color: maroon;
}
.banner-wrapper {
    width: 100%;
}


.banner {
    position: relative;
    overflow: visible;
    background: white;
    padding: 2rem 1rem;
}


.no-gutters {
    margin-right: 0;
    margin-left: 0;
}


.banner-text-col {
    padding: 1rem;
    z-index: 1;
    color: #4A7A7E;
    font-family: 'Poppins', sans-serif;
}

.banner-image-col {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hands {
    max-width: 100%;
    height: 450px;
    display: block;
}


.filter-overlay {
    position: absolute;
    left: 50%;
    bottom: -150px;
    transform: translateX(-50%);
    width: 85%;
    z-index: 9999;
    pointer-events: auto;
}



@media (max-width: 767px) {
    .filter-overlay {
        width: 92%;
        bottom: -18px;
    }

    .filter-row {
        flex-direction: column;
    }

    .filter-btn {
        width: 100%;
    }
} */

/* .carousel-caption {
  top: 50%;               
  transform: translateY(-50%); 
  text-align: center;      
}

.carousel-caption h1 {
  font-size: 2.5rem;      
  color: #fff;             
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.carousel-caption p {
  font-size: 1.2rem;
  color: #fff;            
  font-family: "Poppins", sans-serif;
}


.carousel-caption h1,
.carousel-caption p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
} */



.banner-image {
  max-height: 600px; 
  object-fit:cover;
}
.banner-item {
  position: relative;
}

.banner-image {
  width: 100%;
  height: 500px; 
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 2;
}

.carousel-caption h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.carousel-caption p {
  font-size: 14px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}


@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 1.8rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }
}
