.crafting {
  color: #F8BBD0 !important; 
}

.banner {
    overflow: unset !important;
    margin-top: 0 !important;
}

.banner-text-col {
    position: relative;
    z-index: 10000;
}

.experiance{
color: maroon;
}
.banner-wrapper {
    width: 100%;
}


.banner {
    position: relative;
    overflow: visible;
    background: white;
    padding: 2rem 1rem;
}


.no-gutters {
    margin-right: 0;
    margin-left: 0;
}


.banner-text-col {
    padding: 1rem;
    z-index: 1;
    color: #4A7A7E;
    font-family: 'Poppins', sans-serif;
}

.banner-image-col {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hands {
    max-width: 100%;
    height: 450px;
    display: block;
}


.filter-overlay {
    position: absolute;
    left: 50%;
    bottom: -150px;
    transform: translateX(-50%);
    width: 85%;
    z-index: 9999;
    pointer-events: auto;
}



@media (max-width: 767px) {
    .filter-overlay {
        width: 92%;
        bottom: -18px;
    }

    .filter-row {
        flex-direction: column;
    }

    .filter-btn {
        width: 100%;
    }
}