.contact-section {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.full-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    color: white;
}

.overlay-content h2 {
    font-family: 'Poppins', sans-serif;

}

.overlay-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
}

.overlay-content .buttons .btn {
    background-color: #4A7A7E;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.overlay-content .buttons .btn:hover {
    background-color: #00a88c;
    color: #ffffff;
}