.contact-wrapper {
  background: #4a7a7e;
}

.contact-container {
  max-width: 900px;
  background: #4a7a7e;
  padding: 30px;
  border-radius: 15px;
}

.contact-title {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.image-col2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.4);
}

.contact-form {
  margin-top: 30%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 0%;
}

.input-line {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffa726;
  border-radius: 0;
  color: white;
  padding: 8px;
  font-size: 14px;
}

.input-line:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #ffcc80;
  color: white;
}

.contact-form label {
  color: #ffffff;
}

.button-wrapper {
  text-align: center;
  margin-top: 20px;
}

.contact-btn {
  background: linear-gradient(90deg, #9208ff 0%, #ff00d6 100%);
  border: none;
  padding: 5px 60px !important;
  font-size: 14px !important;
  border-radius: 30px !important;
  color: #ffffff;
  transition: 0.3s ease;
}

.contact-btn:hover {
  color: #ffffff;
  background: #00a88c !important;
  transform: translateY(-3px);
}

.button-wrapper {
  text-align: center;
  margin-top: 20px;
}

.form-message {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.form-message.success {
  color: #28a745;
}

.form-message.error {
  color: #dc3545;
}

.contactt {
  margin-top: 30%;
  margin-left: 20%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.contactpara {
  margin-left: 20%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.based {
  margin-left: 20%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.india {
  margin-left: 20%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }

  .contact-title {
    font-size: 28px;
  }

  .booknow-btn {
    width: 100%;
  }

  .image-col2 {
    margin-bottom: 20px;
  }
}
