.filter-box {
    background-color: #2D7870;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.filter-section {
    padding-bottom: 0px;
    position: relative;
}

.filter-item {

    border: none;
    background: #fff;
    border-radius: 10px;
    padding: 8px 20px;
    min-width: 120px;
    font-size: 14px;
    outline: none;
    color: #4A7A7E;
    font-family: 'Poppins', sans-serif;

}


.filter-item:focus {
    box-shadow: none;
}

.search-btn {
    background-color: #22BBAA;
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

.search-btn:hover {
    transition: all 0.3s ease;
    transform: translateY(-2px);
    color: #ffffff;
    background-color: #00a88c;
}

.search {
    display: inline-block;
    background-color: #22BBAA;
    border: none;
    color: #fff;
    padding: 10px ;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.search:hover {
   background-color: #00a88c;
    transform: translateY(-2px);
}