.page-footer p {
    font-size: 14px;
    color: #4A7A7E;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: start;
}


.page-footer li {
    font-size: 14px;
    color: #4A7A7E;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    text-align: start;
}


.page-footer li:hover {
    color: #007bff;
    transform: translateY(-4px);
}

.page-footer h6 {
    color: #4A7A7E;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

footer.page-footer,
.page-footer * {
    text-align: start !important;
}

.footer-link {
    text-decoration: none;
    color: #4A7A7E;
    transition: color 0.3s ease;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: start;
}

.footer-link:hover {
    color: #007bff;

}