.howhost-container {
  max-width: 900px;
  margin: 0 auto;
}

.howhost-heading {
  text-align: center;
  color: maroon;
  font-family: "Poppins", sans-serif;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.step-title {
  font-size: 1.2rem;
  color: maroon;
  font-family: "Poppins", sans-serif;
}

.step-number {
  font-weight: bold;
  margin-right: 8px;
  font-family: "Poppins", sans-serif;
}

.step-description {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  font-family: "Poppins", sans-serif;
}
