.company-logo {
    height: 30px;
    width: auto;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: sticky;
    
}

.navbar-nav .nav-item a {
  text-decoration: none;
  color: #4A7A7E;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 10px;
  display: inline-block; 
  transition: color 0.3s ease, transform 0.3s ease;
}


.navbar-nav .nav-item a:hover {
  color: #3700cf;
  transform: translateY(-3px);
}


.buttons .btn {
    background-color: #4A7A7E;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.buttons .btn:hover {
    color: #ffffff;
    background-color: #00a88c !important;
    transform: translateY(-3px);
}

.buttons .btn:nth-child(2) {
    color: #ffffff;
}

.buttons .btn:nth-child(2):hover {
    background-color: #00a88c !important;
    color: #fff;
}

.sticky-top {
    transition: box-shadow 0.3s ease;
}

.sticky-top.scrolled {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}


@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        gap: 1.2rem;
        padding-top: 1rem;
    }

    .d-flex a {
        width: 100%;
        text-align: center;
    }
}