.wantto {
  color: maroon !important;
  font-family: "Poppins", sans-serif;
}
.want-bg {
  background-color: #ececec;
  padding: 70px 20px;
}
.want-para {
  color: gray;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
