.whatmakes {
  color: #800000 !important;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #800000;
  width: 100% !important;
  max-width: 400px;
  border-radius: 5px;
  border: none !important;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card h6 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.card p.text-muted {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white !important;
}

.card small {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #ffffff !important;
}

.container.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

@media (max-width: 576px) {
  .card {
    padding: 1rem !important;
  }
}
